[Unit]
Description= Secure Server Agent for Alpacon
After=network.target syslog.target

[Service]
Type=simple
ExecStart=/usr/local/bin/alpamon
WorkingDirectory=/var/lib/alpamon
SELinuxContext=-unconfined_u:unconfined_r:unconfined_t:s0
AppArmorProfile=-unconfined
Restart=on-failure
StandardOutput=journal
StandardError=journal
SyslogIdentifier=alpamon

[Install]
WantedBy=multi-user.target