name: Lint
on:
  push:
    branches: [main]
    paths-ignore:
      - "docs/**"
      - "tests/**"
      - "scripts/**"

  pull_request:
    types: [opened, reopened, synchronize, ready_for_review]

permissions:
  contents: read

env:
  GO_VERSION: '1.25.7'
  ENT_VERSION: 'v0.14.5'

jobs:
  linter:
    name: golangci-lint
    runs-on: ubuntu-latest
    env:
      CGO_ENABLED: 0

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: ${{ env.GO_VERSION }}

      - name: Generate go code
        run: go run -mod=mod entgo.io/ent/cmd/ent@${{ env.ENT_VERSION }} generate --feature sql/modifier --target ./pkg/db/ent ./pkg/db/schema

      - name: GolangCI-Lint
        uses: golangci/golangci-lint-action@v7
        with:
          version: v2.9.0
          args: --timeout=5m
