name: Release

on:
  push:
    tags:
      - "*"

jobs:
  build-and-test:
    uses: ./.github/workflows/build-and-test.yml

  goreleaser:
    needs: [build-and-test]
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Fetch tags
        run: git fetch --force --tags

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: 1.24.4

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v6
        with:
          distribution: goreleaser
          version: latest
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Strip "v" prefix from tag
        run: echo "TAG_NAME=${GITHUB_REF_NAME#v}" >> $GITHUB_ENV
        env:
          GITHUB_REF_NAME: ${{ github.ref_name }} 

      - name: Upload AMD64 DEB artifacts
        uses: actions/upload-artifact@v4
        with:
          name: alpamon_${{ env.TAG_NAME }}_linux_amd64.deb
          path: dist/alpamon_${{ env.TAG_NAME }}_linux_amd64.deb

      - name: Upload ARM64 DEB artifacts
        uses: actions/upload-artifact@v4
        with:
          name: alpamon_${{ env.TAG_NAME }}_linux_arm64.deb
          path: dist/alpamon_${{ env.TAG_NAME }}_linux_arm64.deb

      - name: Upload AMD64 RPM artifacts
        uses: actions/upload-artifact@v4
        with:
          name: alpamon-${{ env.TAG_NAME }}-1.linux.amd64.rpm
          path: dist/alpamon-${{ env.TAG_NAME }}-1.linux.amd64.rpm

      - name: Upload ARM64 RPM artifacts
        uses: actions/upload-artifact@v4
        with:
          name: alpamon-${{ env.TAG_NAME }}-1.linux.arm64.rpm
          path: dist/alpamon-${{ env.TAG_NAME }}-1.linux.arm64.rpm

  packagecloud-deploy:
    needs: [goreleaser]
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - pkg_type: deb
            arch: amd64
            distro: any/any
          - pkg_type: deb
            arch: arm64
            distro: any/any
          - pkg_type: rpm
            arch: amd64
            distro: rpm_any/rpm_any
          - pkg_type: rpm
            arch: arm64
            distro: rpm_any/rpm_any
    steps:
      - name: Strip "v" prefix from tag
        run: echo "TAG_NAME=${GITHUB_REF_NAME#v}" >> $GITHUB_ENV
        env:
          GITHUB_REF_NAME: ${{ github.ref_name }}

      - name: Set package name
        run: |
          if [ "${{ matrix.pkg_type }}" = "deb" ]; then
            echo "PKG_NAME=alpamon_${{ env.TAG_NAME }}_linux_${{ matrix.arch }}.deb" >> $GITHUB_ENV
          else
            echo "PKG_NAME=alpamon-${{ env.TAG_NAME }}-1.linux.${{ matrix.arch }}.rpm" >> $GITHUB_ENV
          fi

      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: ${{ env.PKG_NAME }}

      - name: Upload to PackageCloud
        uses: danielmundi/upload-packagecloud@v1
        with:
          package-name: ${{ env.PKG_NAME }}
          packagecloud-username: alpacax
          packagecloud-repo: alpamon
          packagecloud-distrib: ${{ matrix.distro }}
          packagecloud-token: ${{ secrets.PACKAGECLOUD_TOKEN }}
